attrs==25.3.0
et_xmlfile==2.0.0
exceptiongroup==1.3.0
hypothesis==6.138.13
iniconfig==2.1.0
numpy==2.2.6
openpyxl==3.1.5
packaging==25.0
pandas==2.3.2
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sortedcontainers==2.4.0
-e git+ssh://git@github.com/StefanSchade/abenteuer-auf-der-dino-insel.git@5e9939681e7c20f7625b50adb0ed38349763a42c#egg=spreadsheet_handling&subdirectory=scripts/spreadsheet_handling
tomli==2.2.1
typing_extensions==4.15.0
tzdata==2025.2
xlsxwriter==3.2.5
